<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Create Vehicle</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Vehicle No.</label>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" >
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Owner Name</label>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Vehicle No.</label>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" >
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Owner Name</label>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="button" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form user info -->

            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->